body {
  height: 100%;
  padding-top: 71px;
  background-color: #EAEBEC;
}

/* ---- Bootstrap Overrides ------------------------------------------------ */

.form-control, .input-group-btn .btn {
  box-shadow: none;
  border: 1px solid #E7E9ED;
  border-radius: 0;
}

/* ---- Navigation --------------------------------------------------------- */

/* Fix for: https://github.com/twbs/bootstrap/issues/15706 */
.container-fluid > .navbar-text.navbar-right:last-child,
.container-fluid > .navbar-btn.navbar-right:last-child {
    margin-right: 0;
}

/*.navbar-default {
  border: none;
  color: #272727;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 4px 2px -2px;
}*/

.navbar-form > *, .navbar-form > .form-group > * {
   margin-right: 5px;
}

.navbar-form > *:last-child, .navbar-form > .form-group > *:last-child {
   margin-right: 0;
}

/* ---- Alert -------------------------------------------------------------- */

.alert {
  margin: 0 -15px 20px;
  border: none;
  border-radius: 0;
}

/* ---- Content ------------------------------------------------------------ */

.container.main-content {
  background: #FFF;
}

.gray-content-block {
  margin: -15px -15px 0;
  padding: 15px;
  background-color: #f7f8fa;
  border-bottom: 1px solid #dce0e6;
}

/* ---- Study List --------------------------------------------------------- */

.study-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.study-list li {
  display: block;
  padding: 0 15px 15px;
  border-bottom: 1px solid #F1F2F4;
  margin: 0 -15px;
}

.study-list li:last-child {
  border-bottom: none;
}

.study-list li .desc {
  color: #777;
}

/* ---- Form List ---------------------------------------------------------- */

.forms-search-form {
  margin: 0 -15px;
  padding: 15px;
  background-color: #f8fafc;
  border-top: 1px solid #e7e9ed;
  border-bottom: 1px solid #e7e9ed;
}

.form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-list li {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #F1F2F4;
  margin: 0 -15px;
}

.form-list li :last-child {
  margin-bottom: 0;
}

.form-list li:last-child {
  border-bottom: none;
}

.form-list li .desc {
  color: #777;
}

.form-list li:hover .attachment-link {
  display: inline-block;
}

  /* ---- Attachments -------------------------------------------------------- */

.attachment-link {
  display: none;
  margin: 10px 0 10px 10px;
  color: #333;
  font-size: 14px;
  line-height: 19px;
}

.attachment-link .fa {
  margin-right: 5px;
}

/* ---- Workbook Thumb ----------------------------------------------------- */

.workbook-thumb {
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-bottom-width: 2px;
  margin-bottom: 20px;
  background-color: #FFF;
}

.workbook-thumb:hover {
  background-color: #f2f2f2;
}

.workbook-thumb-create {
  color: #777;
  text-align: center;
  font-size: 150%;
  line-height: 1;
}

/* ---- Query -------------------------------------------------------------- */

.query {
}

.query-head {
  color: #777;
  text-transform: uppercase;
}

/* ---- Query - Cell ------------------------------------------------------- */

.query-cell-list {
  margin-bottom: 15px;
}

.query-cell {
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-bottom-width: 2px;
  background-color: #FFF;
}

.query-cell-empty {
  color: #777;
  text-align: center;
  font-size: 150%;
  line-height: 1;
}

.query-cell .tooltip {
  position: absolute;
  white-space: nowrap;
  opacity: 1;
}

a.cell-adder, a.query-adder {
  color: inherit;
}

.query-col-and-badge {
  position: absolute;
  left: -15px;
  top: 100px;
  transform: rotate(270deg);
}

.query-col-or-badge {
  text-align: center;
  line-height: 30px;
}

div:last-child > .query-col-or-badge {
  display: none;
}

/* ---- Result ------------------------------------------------------------- */

.result {
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-bottom-width: 2px;
  margin-bottom: 20px;
  background-color: #FFF;
}

/* ---- Study -------------------------------------------------------------- */

.study {
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-bottom-width: 2px;
  margin-bottom: 20px;
  background-color: #FFF;
}

.study:hover {
  background-color: #f2f2f2;
}
